body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

.active > button > span {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
