* {
  font-family: 'Google Sans Text Beta', Roboto, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.875rem;
  letter-spacing: 0.1px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
  overflow: auto;
  min-height: 100vh;
}

.active > button > span {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
